p{
    color: rgba(0,0,0,0.7)
}
.banner-content{
    position: relative;
    width: 100%;
    text-align: right;  
}
.banner-content >h1{
     font-size: 400%;
    margin-top: -100px;
    padding: 10px;
}

.about-area{
   padding-top: 150px;
   padding-bottom: 150px;
}

.about-detail-header{
    padding: 10px;
}
.about-detail-header>.title{
     font-size: 300%;
    line-height: normal;
    font-weight: 600;
    transition: all ease 1s;
}
.service-area{
   padding-top: 150px;
   padding-bottom: 150px;
   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}

.service-header{
    text-align: center;
    padding: 5px;
    
}

.service-area:hover .service-header > .title{
    color: white;
    font-size: 320%;
    transition: all ease 0.5s;
}
.service-header > .title{
    font-size: 300%;
    font-weight: 600;
    color: rgba(255,255,255,0.8);
    transition: all ease 1s;
    line-height: normal;
}

.service-header >  .description{
   color: rgba(255,255,255,0.8);
    line-height: normal;
}

.card-container{
    width: 100%;
    padding-top: 20px;
}

.card-container >.col-md-4{
    padding: 10px;
}

.card-container .card{
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    box-shadow: 1.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    transition: all ease 1s;
}

.card-container .card:hover{
    box-shadow: 1.213px 21.213px 30px 0px rgba(0, 0, 0, 0.3);
    transition: all ease 1s;
}

.card-container .card:hover >.card-head >i{
     color: purple;
    transition: all ease 2s;
}

.card-container .card>.card-head {
    text-align: center;
    padding-top: 50px;
    font-size: 200%;
    height: 150px;
}

.card-container .card>.card-head >i{
    color: rgba(0,0,0,0.4);
    transition: all ease 2s;
}
.card-container .card> .card-title{
    font-family: "Poppins", sans-serif;;
    text-align: center;
     padding-top:18px;
    font-size: 200%;
    color: rgba(0,0,0,0.6);
}
.card-container .card> .card-body{
    padding:5px 20px 10px 20px;
    text-align: center;
    color: rgba(0,0,0,0.6);
     font-size: 120%;
}

.polygon-container {
 position: relative;
 width: 100%;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

